In [1]:
import pandas as pd
from datetime import date,datetime, timedelta
import numpy as np

In [2]:
pe_bruto = pd.read_csv("./COVID-19 no Mundo, no Brasil e em Pernambuco.csv")
print(pe_bruto.shape)
pe_bruto.head()

(816, 15)

,X,id,dt_notificacao,Idade,Sexo,mun_notificacao,dt_primeiros_sintomas,sintomas,comorbidades,hospitalizacao,classe,Resultado,evolucao,dt_obito,cd_municipio
0,5,512,20/03/2020,65,MASCULINO,RECIFE,09/03/2020,FEBRE - TOSSE - DISPNEIA - DESCONFORTO RESPIRA...,NaN,SIM,CONFIRMADO,SARS-COV-2,ÓBITO,03/04/2020,261160
1,10,493,19/03/2020,38,FEMININO,RECIFE,NaN,NaN,NaN,NaN,CONFIRMADO,SARS-COV-2,ISOLAMENTO DOMICILIAR,NaN,261160
2,14,1386,26/03/2020,69,FEMININO,RECIFE,19/03/2020,"FEBRE, TOSSE",NaN,SIM,CONFIRMADO,NEGATIVO INFLUENZA/SARS-COV-2,INTERNADO UTI,NaN,261160
3,51,79,13/03/2020,57,MASCULINO,BELO JARDIM,02/03/2020,FEBRE - DIFICULDADE DE RESPIRAR - CEFALEIA - O...,"DOENÇA CARDIOVASCULAR, INCLUINDO HIPERTENSÃO",SIM,CONFIRMADO,SARS-COV-2,ISOLAMENTO DOMICILIAR,NaN,260170
4,62,81,13/03/2020,39,FEMININO,RECIFE,11/03/2020,TOSSE - CORIZA,SEM COMORBIDADES,NÃO,CONFIRMADO,SARS-COV-2,RECUPERADO,NaN,261160

In [3]:
pe_bruto = pe_bruto.query("classe == 'CONFIRMADO'")
print(pe_bruto.shape)
pe_bruto.head()

(816, 15)

,X,id,dt_notificacao,Idade,Sexo,mun_notificacao,dt_primeiros_sintomas,sintomas,comorbidades,hospitalizacao,classe,Resultado,evolucao,dt_obito,cd_municipio
0,5,512,20/03/2020,65,MASCULINO,RECIFE,09/03/2020,FEBRE - TOSSE - DISPNEIA - DESCONFORTO RESPIRA...,NaN,SIM,CONFIRMADO,SARS-COV-2,ÓBITO,03/04/2020,261160
1,10,493,19/03/2020,38,FEMININO,RECIFE,NaN,NaN,NaN,NaN,CONFIRMADO,SARS-COV-2,ISOLAMENTO DOMICILIAR,NaN,261160
2,14,1386,26/03/2020,69,FEMININO,RECIFE,19/03/2020,"FEBRE, TOSSE",NaN,SIM,CONFIRMADO,NEGATIVO INFLUENZA/SARS-COV-2,INTERNADO UTI,NaN,261160
3,51,79,13/03/2020,57,MASCULINO,BELO JARDIM,02/03/2020,FEBRE - DIFICULDADE DE RESPIRAR - CEFALEIA - O...,"DOENÇA CARDIOVASCULAR, INCLUINDO HIPERTENSÃO",SIM,CONFIRMADO,SARS-COV-2,ISOLAMENTO DOMICILIAR,NaN,260170
4,62,81,13/03/2020,39,FEMININO,RECIFE,11/03/2020,TOSSE - CORIZA,SEM COMORBIDADES,NÃO,CONFIRMADO,SARS-COV-2,RECUPERADO,NaN,261160

In [4]:
pe_info = pe_bruto.copy(deep=True)
pe_info = pe_bruto.loc[:,['dt_notificacao', 'classe', 'evolucao', 'dt_obito']]

pe_conf = pd.DataFrame(pe_info.groupby(['dt_notificacao'])['classe']
                       .count()).reset_index()

pe_obt = pd.DataFrame(pe_info.query("evolucao == 'ÓBITO'")
                      .groupby(['dt_obito'])['evolucao']
                      .count()).reset_index()

pe_obt.columns = ['dt_notificacao', 'obt']

In [5]:
pe_counts = pd.merge(pe_conf,pe_obt,on='dt_notificacao', how='left')
pe_counts.columns = ['date', 'confirmed', 'deaths']
pe_counts['date'] = pd.to_datetime(pe_counts['date'], format='%d/%m/%Y')
pe_counts = pe_counts.sort_values(by='date', axis = 0)
pe_counts

         date  confirmed  deaths
4  2020-03-05          2     NaN
7  2020-03-07          1     NaN
12 2020-03-12          7     NaN
13 2020-03-13          8     NaN
14 2020-03-14          1     NaN
15 2020-03-15          6     NaN
16 2020-03-16          9     NaN
17 2020-03-17          5     NaN
18 2020-03-18          3     NaN
19 2020-03-19          2     NaN
20 2020-03-20          2     NaN
21 2020-03-21          1     NaN
22 2020-03-22          3     NaN
23 2020-03-23          6     NaN
24 2020-03-24          7     NaN
25 2020-03-25          7     2.0
26 2020-03-26         14     2.0
27 2020-03-27         22     2.0
28 2020-03-28          9     NaN
29 2020-03-29         11     2.0
30 2020-03-30         22     2.0
31 2020-03-31         41     4.0
0  2020-04-01         18     2.0
1  2020-04-02         37     3.0
2  2020-04-03         74     5.0
3  2020-04-04         66    11.0
5  2020-04-05         49     7.0
6  2020-04-06        148     8.0
8  2020-04-07         97    13.0
9  2020-04-08        106     5.0
10 2020-04-09         15     3.0
11 2020-04-10         17     1.0

In [6]:
pe_counts['ntotal_Conf'] = pe_counts['confirmed'].cumsum()
pe_counts['ntotal_Ob'] = pe_counts['deaths'].cumsum()
pe_counts

         date  confirmed  deaths  ntotal_Conf  ntotal_Ob
4  2020-03-05          2     NaN            2        NaN
7  2020-03-07          1     NaN            3        NaN
12 2020-03-12          7     NaN           10        NaN
13 2020-03-13          8     NaN           18        NaN
14 2020-03-14          1     NaN           19        NaN
15 2020-03-15          6     NaN           25        NaN
16 2020-03-16          9     NaN           34        NaN
17 2020-03-17          5     NaN           39        NaN
18 2020-03-18          3     NaN           42        NaN
19 2020-03-19          2     NaN           44        NaN
20 2020-03-20          2     NaN           46        NaN
21 2020-03-21          1     NaN           47        NaN
22 2020-03-22          3     NaN           50        NaN
23 2020-03-23          6     NaN           56        NaN
24 2020-03-24          7     NaN           63        NaN
25 2020-03-25          7     2.0           70        2.0
26 2020-03-26         14     2.0           84        4.0
27 2020-03-27         22     2.0          106        6.0
28 2020-03-28          9     NaN          115        NaN
29 2020-03-29         11     2.0          126        8.0
30 2020-03-30         22     2.0          148       10.0
31 2020-03-31         41     4.0          189       14.0
0  2020-04-01         18     2.0          207       16.0
1  2020-04-02         37     3.0          244       19.0
2  2020-04-03         74     5.0          318       24.0
3  2020-04-04         66    11.0          384       35.0
5  2020-04-05         49     7.0          433       42.0
6  2020-04-06        148     8.0          581       50.0
8  2020-04-07         97    13.0          678       63.0
9  2020-04-08        106     5.0          784       68.0
10 2020-04-09         15     3.0          799       71.0
11 2020-04-10         17     1.0          816       72.0

In [7]:
date_str = []
for dt in pe_counts['date']:
    conv = datetime.date(dt)
    date_str.append(conv.strftime("+%Y-%m-%dT00:00:00Z/11"))
pe_counts['wdt_dates'] = date_str
pe_counts.head()

,date,confirmed,deaths,ntotal_Conf,ntotal_Ob,wdt_dates
4,2020-03-05,2,NaN,2,NaN,+2020-03-05T00:00:00Z/11
7,2020-03-07,1,NaN,3,NaN,+2020-03-07T00:00:00Z/11
12,2020-03-12,7,NaN,10,NaN,+2020-03-12T00:00:00Z/11
13,2020-03-13,8,NaN,18,NaN,+2020-03-13T00:00:00Z/11
14,2020-03-14,1,NaN,19,NaN,+2020-03-14T00:00:00Z/11

In [8]:
print("CREATE\n" + 
      'LAST|Len|' + '"' + "COVID-19 pandemic in the state of Pernambuco" + '"\n' +
      'LAST|Den|' + '"'+ "ongoing viral pandemic in Pernambuco, Brazil" + '"\n' +
      'LAST|P31|' + "Q3241045"  + "|P642|"+ "Q84263196" + "|P3005|" + "Q40942" +'\n' +
      'LAST|P361|' + "Q86597695"  + '\n' +
      "LAST|P17|" + "Q155" + '\n' +
      "LAST|P276|" + "Q40942" +'\n' +
      "LAST|P580|" + "+2020-03-05T00:00:00Z/11")
for index, row in pe_counts.iterrows():
        print(
      "LAST|P1603|" + str(int(row['ntotal_Conf'])) + "|P585|" + row['wdt_dates'] + "|S854|" + '"' + "http://dados.seplag.pe.gov.br/apps/corona.html" + '"'
        )
        if not np.isnan(row['ntotal_Ob']):
            print(
      "LAST|P1120|" + str(int(row['ntotal_Ob'])) + "|P585|" + row['wdt_dates'] + "|S854|" + '"' + "http://dados.seplag.pe.gov.br/apps/corona.html" + '"'
        )

CREATE
LAST|Len|"COVID-19 pandemic in the state of Pernambuco"
LAST|Den|"ongoing viral pandemic in Pernambuco, Brazil"
LAST|P31|Q3241045|P642|Q84263196|P3005|Q40942
LAST|P361|Q86597695
LAST|P17|Q155
LAST|P276|Q40942
LAST|P580|+2020-03-05T00:00:00Z/11
LAST|P1603|2|P585|+2020-03-05T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|3|P585|+2020-03-07T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|10|P585|+2020-03-12T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|18|P585|+2020-03-13T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|19|P585|+2020-03-14T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|25|P585|+2020-03-15T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|34|P585|+2020-03-16T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|39|P585|+2020-03-17T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|42|P585|+2020-03-18T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|44|P585|+2020-03-19T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|46|P585|+2020-03-20T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|47|P585|+2020-03-21T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|50|P585|+2020-03-22T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|56|P585|+2020-03-23T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|63|P585|+2020-03-24T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|70|P585|+2020-03-25T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|2|P585|+2020-03-25T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|84|P585|+2020-03-26T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|4|P585|+2020-03-26T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|106|P585|+2020-03-27T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|6|P585|+2020-03-27T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|115|P585|+2020-03-28T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|126|P585|+2020-03-29T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|8|P585|+2020-03-29T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|148|P585|+2020-03-30T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|10|P585|+2020-03-30T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|189|P585|+2020-03-31T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|14|P585|+2020-03-31T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|207|P585|+2020-04-01T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|16|P585|+2020-04-01T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|244|P585|+2020-04-02T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|19|P585|+2020-04-02T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|318|P585|+2020-04-03T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|24|P585|+2020-04-03T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|384|P585|+2020-04-04T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|35|P585|+2020-04-04T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|433|P585|+2020-04-05T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|42|P585|+2020-04-05T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|581|P585|+2020-04-06T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|50|P585|+2020-04-06T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|678|P585|+2020-04-07T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|63|P585|+2020-04-07T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|784|P585|+2020-04-08T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|68|P585|+2020-04-08T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|799|P585|+2020-04-09T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|71|P585|+2020-04-09T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1603|816|P585|+2020-04-10T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"
LAST|P1120|72|P585|+2020-04-10T00:00:00Z/11|S854|"http://dados.seplag.pe.gov.br/apps/corona.html"