In [1]:
import pandas as pd
from datetime import date,datetime, timedelta
import numpy as np

In [2]:
nacional = pd.read_csv("./884e4edb6c3f1cda0fbc930dbed29050_Download_COVID19_20200412.csv", sep=';')
print(nacional.shape)
nacional.head()

(1998, 7)

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,30/01/2020,0,0,0,0
1,Norte,RO,31/01/2020,0,0,0,0
2,Norte,RO,01/02/2020,0,0,0,0
3,Norte,RO,02/02/2020,0,0,0,0
4,Norte,RO,03/02/2020,0,0,0,0

In [3]:
roraima = nacional.query("estado == 'RR'")
roraima

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
222,Norte,RR,30/01/2020,0,0,0,0
223,Norte,RR,31/01/2020,0,0,0,0
224,Norte,RR,01/02/2020,0,0,0,0
225,Norte,RR,02/02/2020,0,0,0,0
226,Norte,RR,03/02/2020,0,0,0,0
...,...,...,...,...,...,...,...
291,Norte,RR,08/04/2020,7,49,0,1
292,Norte,RR,09/04/2020,3,52,0,1
293,Norte,RR,10/04/2020,11,63,2,3
294,Norte,RR,11/04/2020,12,75,0,3
295,Norte,RR,12/04/2020,4,79,0,3

In [4]:
roraima['data'] = pd.to_datetime(roraima['data'], format='%d/%m/%Y')
roraima = roraima.sort_values(by='data', axis = 0)
date_str = []
for dt in roraima['data']:
    conv = datetime.date(dt)
    date_str.append(conv.strftime("+%Y-%m-%dT00:00:00Z/11"))
roraima['wdt_dates'] = date_str
roraima

<ipython-input-4-4cb5972273ec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roraima['data'] = pd.to_datetime(roraima['data'], format='%d/%m/%Y')

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados,wdt_dates
222,Norte,RR,2020-01-30,0,0,0,0,+2020-01-30T00:00:00Z/11
223,Norte,RR,2020-01-31,0,0,0,0,+2020-01-31T00:00:00Z/11
224,Norte,RR,2020-02-01,0,0,0,0,+2020-02-01T00:00:00Z/11
225,Norte,RR,2020-02-02,0,0,0,0,+2020-02-02T00:00:00Z/11
226,Norte,RR,2020-02-03,0,0,0,0,+2020-02-03T00:00:00Z/11
...,...,...,...,...,...,...,...,...
291,Norte,RR,2020-04-08,7,49,0,1,+2020-04-08T00:00:00Z/11
292,Norte,RR,2020-04-09,3,52,0,1,+2020-04-09T00:00:00Z/11
293,Norte,RR,2020-04-10,11,63,2,3,+2020-04-10T00:00:00Z/11
294,Norte,RR,2020-04-11,12,75,0,3,+2020-04-11T00:00:00Z/11
295,Norte,RR,2020-04-12,4,79,0,3,+2020-04-12T00:00:00Z/11

In [5]:
roraima_cases = roraima.query("casosAcumulados != 0")
roraima_cases

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados,wdt_dates
274,Norte,RR,2020-03-22,2,2,0,0,+2020-03-22T00:00:00Z/11
275,Norte,RR,2020-03-23,0,2,0,0,+2020-03-23T00:00:00Z/11
276,Norte,RR,2020-03-24,0,2,0,0,+2020-03-24T00:00:00Z/11
277,Norte,RR,2020-03-25,6,8,0,0,+2020-03-25T00:00:00Z/11
278,Norte,RR,2020-03-26,0,8,0,0,+2020-03-26T00:00:00Z/11
279,Norte,RR,2020-03-27,2,10,0,0,+2020-03-27T00:00:00Z/11
280,Norte,RR,2020-03-28,2,12,0,0,+2020-03-28T00:00:00Z/11
281,Norte,RR,2020-03-29,4,16,0,0,+2020-03-29T00:00:00Z/11
282,Norte,RR,2020-03-30,0,16,0,0,+2020-03-30T00:00:00Z/11
283,Norte,RR,2020-03-31,0,16,0,0,+2020-03-31T00:00:00Z/11
284,Norte,RR,2020-04-01,6,22,0,0,+2020-04-01T00:00:00Z/11
285,Norte,RR,2020-04-02,4,26,0,0,+2020-04-02T00:00:00Z/11
286,Norte,RR,2020-04-03,4,30,0,0,+2020-04-03T00:00:00Z/11
287,Norte,RR,2020-04-04,7,37,1,1,+2020-04-04T00:00:00Z/11
288,Norte,RR,2020-04-05,5,42,0,1,+2020-04-05T00:00:00Z/11
289,Norte,RR,2020-04-06,0,42,0,1,+2020-04-06T00:00:00Z/11
290,Norte,RR,2020-04-07,0,42,0,1,+2020-04-07T00:00:00Z/11
291,Norte,RR,2020-04-08,7,49,0,1,+2020-04-08T00:00:00Z/11
292,Norte,RR,2020-04-09,3,52,0,1,+2020-04-09T00:00:00Z/11
293,Norte,RR,2020-04-10,11,63,2,3,+2020-04-10T00:00:00Z/11
294,Norte,RR,2020-04-11,12,75,0,3,+2020-04-11T00:00:00Z/11
295,Norte,RR,2020-04-12,4,79,0,3,+2020-04-12T00:00:00Z/11

In [6]:
print("CREATE\n" + 
      'LAST|Len|' + '"' + "COVID-19 pandemic in the state of Roraima" + '"\n' +
      'LAST|Den|' + '"'+ "ongoing viral pandemic in Roraima, Brazil" + '"\n' +
      'LAST|P31|' + "Q3241045"  + "|P642|"+ "Q84263196" + "|P3005|" + "Q42508" +'\n' +
      'LAST|P361|' + "Q86597695"  + '\n' +
      "LAST|P17|" + "Q155" + '\n' +
      "LAST|P276|" + "Q42508" +'\n' +
      "LAST|P580|" + roraima_cases['wdt_dates'].iloc[0])
for index, row in roraima_cases.iterrows():
        print(
      "LAST|P1603|" + str(int(row['casosAcumulados'])) + "|P585|" + row['wdt_dates'] + "|S854|" + '"' + "https://covid.saude.gov.br/" + '"'
        )
        if row['obitosNovos'] != 0:
            print(
      "LAST|P1120|" + str(int(row['obitosNovos'])) + "|P585|" + row['wdt_dates'] + "|S854|" + '"' + "https://covid.saude.gov.br/" + '"'
        )

CREATE
LAST|Len|"COVID-19 pandemic in the state of Roraima"
LAST|Den|"ongoing viral pandemic in Roraima, Brazil"
LAST|P31|Q3241045|P642|Q84263196|P3005|Q42508
LAST|P361|Q86597695
LAST|P17|Q155
LAST|P276|Q42508
LAST|P580|+2020-03-22T00:00:00Z/11
LAST|P1603|2|P585|+2020-03-22T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|2|P585|+2020-03-23T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|2|P585|+2020-03-24T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|8|P585|+2020-03-25T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|8|P585|+2020-03-26T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|10|P585|+2020-03-27T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|12|P585|+2020-03-28T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|16|P585|+2020-03-29T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|16|P585|+2020-03-30T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|16|P585|+2020-03-31T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|22|P585|+2020-04-01T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|26|P585|+2020-04-02T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|30|P585|+2020-04-03T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|37|P585|+2020-04-04T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1120|1|P585|+2020-04-04T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|42|P585|+2020-04-05T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|42|P585|+2020-04-06T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|42|P585|+2020-04-07T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|49|P585|+2020-04-08T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|52|P585|+2020-04-09T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|63|P585|+2020-04-10T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1120|2|P585|+2020-04-10T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|75|P585|+2020-04-11T00:00:00Z/11|S854|"https://covid.saude.gov.br/"
LAST|P1603|79|P585|+2020-04-12T00:00:00Z/11|S854|"https://covid.saude.gov.br/"